body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.div-form {
  display: flex;
  justify-content: center;
}
.form-login {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 275px;
  box-shadow: 7px 11px 26px #0c0c0c;
}
